/* Set margin and padding for all to 0px */
*
{
	margin: 0px;
	padding: 0px;
}

/* Sets an image background for the page */
musicStore
{
	background: url('Images/bneut.jpg') no-repeat fixed; 
	background-size:cover;
} 

/* Sets the dimension and styles for the container holding details of the store */
storeDetails
{
	display: block;
	width: 100%;
	height: 230px;
	text-align: center;
	background: url('Images/g2.jpg'); /* Image used as background */
	margin-bottom: 10px;
	top: 0;
}

/* Style of the logo of the page */
logo
{
	display: block;
	background: url('Images/logo.jpg'); /* Logo Image */
	background-size: cover;
	height: 110px;
	width: 160px;
	margin-bottom: 10px;
	margin: auto;
}

/* Style of the Store Name */
storeName
{
	display: block;
	color: #5a97fa;
    font-size : 48px;
    margin: auto;
    width: 100%;
}

/* Style of the address, phone number and website */
address, phoneNum, website
{
	display: block;
	color: white;
    font-size : 15px;
    font-family: sans-serif;
    margin: auto;
    width: 50%;
}

/* Dimension and spacings for inventory container */
inventory
{
	padding: 25px;
	width: 94%;
	display: block;
	margin: auto;
}

/* Style each album container */
album
{
	padding: 25px;
	width: 94%;
	background-color: #3119;
	color: white;
	display: inline-block;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 20px;
}

/* Style of the Album Title */
albumTitle
{
	display: block;
	color: rgb(245, 230, 66);
    font-size : 35px;
    font-family: cursive;
    text-align: center;
    margin: auto;
    width: 100%;
}

/* Style for album art picture */
albumArt
{
	display: inline-block;
	height: 200px;
	width: 17%;
	margin: 3%;
	border-width: 2px;
	border-style: solid;
	border-color: brown;
}

/* Unique picture for different album art is added by referencing albumID */

album[albumID=W34] albumArt
{
	background: url('Images/rick.png'); /* Album Image */
	background-size:cover;
}

album[albumID=P07] albumArt
{
	background: url('Images/pink.jpg'); /* Album Image */
	background-size:cover;
}

album[albumID=N18] albumArt
{
	background: url('Images/charlie.png'); /* Album Image */
	background-size:cover;
}

/* Style for songs container in each album */
songs
{
	padding: 25px;
	width: 70%;
	background-color: #3119;
	display: block;
	border-radius: 10px;
	margin-top: 3%;
	float: right;
}

/* Style for each song container */
song
{
	padding: 20px;
	width: 40%;
	background-color: #0009;
	color: white;
	display: block;
	border-width: 2px;
	border-style: solid;
	border-color: brown;
	border-radius: 20px;
	margin: 2%;
	float: left;
}

/* Hover effect is added for song container */
song:hover
{
	background-color: #000;
}

/* Style of the Song name */
songName
{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 8px;
}

/* The elements in song is displayed in block */
genre, director, producers, writers, singer, featuredArtist, releaseDate, label, price
{
	display: block;
	margin-bottom: 2px;
}

/* Creates a list and diplays in list format for producer and writer */
producer, writer
{
	display: list-item; 
	list-style-position: inside;
}

/*  Text/content is added before each information of song */

genre:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
 	content: 'Genre' 
}

director:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
 	content: 'Director' 
}

producers:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
	content: 'Producer(s)'
}

writers:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
	content: 'Writer(s)'
}

singer:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
	content: 'Singer'
}

featuredArtist:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
	content: 'Featured Artist'
}

releaseDate:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
	content: 'Release Date'
}

label:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
	content: 'Record Label'
}

price:before
{
	display: inline-block;
	width: 35%;
	font-weight: bold;
	content: 'Price'
}